{
  "plugins": [
  	"transform-class-properties",
  	"transform-react-jsx",
    "lodash",
    "transform-flow-strip-types"
  ],
	"presets": [
		[
			"es2015", {
				"loose": true,
				"modules": false
			}
		],
		[
			"env", {
	      "loose": true,
	      "modules": false,
	      "targets": {
	        "browsers": ["last 2 versions", "not ie 10"]
	      }
	    }
    ],
    "airbnb",
		"react",
		"stage-2"
	]
}
