html {
	font-size: 14px;
}

body {
	background: lightgray;
	font-size: 1rem;
}

// a { color/*\**/: pink\9; }

// .testingBatman {
// 	font-weight: bold;
// 	font-size: .4rem;
// }

// .wrapper {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-gap: 10px;
//   grid-auto-rows: minmax(100px, auto);
// }